@model HairMateApp.Application.ViewModels.Salon.NewSalonVm

@{
    ViewData["Title"] = "Add New Salon";
}

<h2>Add New Salon</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type" class="form-label"></label>
        <select asp-for="Type" class="form-select">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Province" class="form-label"></label>
        <select asp-for="Province" class="form-select">
            <option value="">Select Province</option>
            <option value="dolnośląskie">Dolnośląskie</option>
            <option value="kujawsko-pomorskie">Kujawsko-Pomorskie</option>
            <option value="lubelskie">Lubelskie</option>
            <option value="lubuskie">Lubuskie</option>
            <option value="łódzkie">Łódzkie</option>
            <option value="małopolskie">Małopolskie</option>
            <option value="mazowieckie">Mazowieckie</option>
            <option value="opolskie">Opolskie</option>
            <option value="podkarpackie">Podkarpackie</option>
            <option value="podlaskie">Podlaskie</option>
            <option value="pomorskie">Pomorskie</option>
            <option value="śląskie">Śląskie</option>
            <option value="świętokrzyskie">Świętokrzyskie</option>
            <option value="warmińsko-mazurskie">Warmińsko-Mazurskie</option>
            <option value="wielkopolskie">Wielkopolskie</option>
            <option value="zachodniopomorskie">Zachodniopomorskie</option>
        </select>
        <span asp-validation-for="Province" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger" required></span>
    </div>
    <div class="form-group">
        <label asp-for="Street"></label>
        <input asp-for="Street" class="form-control" />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostalCode"></label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PaymentType"></label>
        <input asp-for="PaymentType" class="form-control" />
        <span asp-validation-for="PaymentType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SalonLogo">Logo</label>
        <input type="file" asp-for="SalonLogo" class="form-control" />
        <span asp-validation-for="SalonLogo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Salon</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}